/* css variables */
 :root{ 
     /* colors  */
    --first-color:#1A73E8;
    --input-color:#80868B;
    --border-color:#DADCE0;

    /* fuent y tipografia */
    --body-font:'Roboto',sans-serif;
    --normal-font-size:1rem;
    --small-font-size:.75rem;
}
body{
  
    margin: 0;
    padding: 0;

    font-family: var(--body-font);
    font-size:var(--normal-font-size);
}

/* This is for form */
.l-form{
  
display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.form{
    width: 360px;
    width: 28%;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 5px #7c7cf0;
}


.form__div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}


.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 91%;
    height: 52%;
    font-size: var(--normal-font-size);
    font-size: 20px;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}


.form__label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: 20px;
    font-size: var(--normal-font-size);
    transition: .3s;
}

.submit-btn{
    display: block;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    width: 94%;
    background-color: var(--first-color);
    background-color:#7c7cf0;
    border-radius: 8px;
    color: #fff;
    font-size: var(--normal-font-size);
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    margin: 0 auto 0 auto;
}
.submit-btn_2{
    display: block;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    width: 94%;
    background-color: var(--first-color);
    background-color:#7c7cf0;
    border-radius: 8px;
    color: #fff;
    font-size: var(--normal-font-size);
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    margin: 0 auto 0 auto;
}
/* input focus move up label */
.form__input:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-size: 20px;
    font-weight: 500;
    z-index: 10;
}

/* input focus sticky top label */

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label{
    top: -.5rem;
    left: .8rem;
   
    font-size: var(--small-font-size);
    font-size: 20px;
    font-weight: 500;
    z-index: 10;
}


/* input focus */

.form__input:focus{
    border: 1.5px solid var(--first-color);
}

.link{
    text-decoration: none;
   color: rgb(78, 62, 62);
font-size: 20px;
}

.head{
    text-align: center;
    top: 10px;
}


.hello-video{
    right: 218px;
    height: 700px;
    display: block;
    position: relative;
}











.loader{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
    width: 100px;
    display: none;
    z-index: 12;
}




/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: cursive;
}




.logo{
   
    border-radius: 50%;
    opacity: 5;
    height: 290px;
    display: block;
   

}


input[type="text"],input[type="password"],input[type="email"]{
    display: block;
   width: 300px;
   height: 40px;
   padding: 20px;
   border-radius: 5px;
   background: #fff;
   border: none;
   outline: none;
   margin: 20px 0;
   text-transform: capitalize;
   color: #383838;
   font-size: 14px;
 
   border: 1px solid black;
font-weight: 300;
font-size: 20px;

   font-family: cursive;
}
input:hover{
    background: #f3eaea;
}
::placeholder{
    color: #383838;
}

.submit-btn{
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
 
  border-radius: 2px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: block;
  margin: 30px 0;
  font-size: 20px;

}

.submit-btn:hover{
    background-color: #383838;
    color: #fff;
}

.checkbox{
    -webkit-appearance:none;
    position: relative;
    height: 15px;
    width: 15px;
    border: 1px solid #383838;
   background: #f3eaea;
    cursor: pointer;
    border-radius: 2px;
}

.checkbox:checked{
    background: #383838;
}

.checkbox::after{
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 80%;
    pointer-events: none;
    background-image: url('https://cdn-icons-png.flaticon.com/512/980/980401.png') ;
    background-repeat: no-repeat;
    display: none;
    background-size: contain;
}

label{
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 17px;
    color: #383838;
    
}

label a{
    color: #383838;
   
}

.link{
    color: #383838;
    text-transform: capitalize;
  
} */



.alert-box{
    
    z-index: 12;
    width: 300px;
    min-height: 150px;
    /* background: #fff; */
    background:rgb(235, 66, 94);
    border-radius: 10px;
    box-shadow: 0 5px 100px rgb(0 0 0 / 5%);
    position: absolute;
    top: 58%;
    left: 67%;
    transform: translate(-50%,-50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
 
}

.alert-box.show{
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.alert-img{
    display: block;
    margin: 10px auto 20px;
    height: 60px;

}

.alert-msg{
    /* color: tomato; */
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

@media (max-width:1300px) {
    .hello-video{
        display: none;
    }
}